<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%- title || 'MyCouple.Site' %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- Thêm bootstrap, font-awesome… tuỳ bạn -->
</head>

<body>
    <%- body %>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/client.js"></script>
</body>

</html>